

.choice{
    padding-top: 10%;
    color: #ffffffd2;
    overflow: hidden;
    

.choice__img{
    width: 90%;
    height: auto;
}

.choice__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}

.choice__title{
    color: #c9ac80;
    font-family: "Ubuntu";
    margin-bottom: 1vh; 
}

.choice__subtitle{
    color: #c9ac80;
    font-family: "Ubuntu";
    margin-bottom: 1vh;
}

}


.choice__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: #171615;
    margin: 0 1.5vh; padding: 1vh;  margin-bottom: 1.5vh;   
}

.choice__item{
    font-size: x-large;
    font-family: "Ubuntu";
    padding-left: 2.5vw;
}

.choice__tagLine{
   color: #c9ac80;
   font-family: "Ubuntu";
   margin-left: 5.5vw;
}

.choice__btn{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    
    
    
 
.choice__registBtn{
    background: #171615;
    border: 1.50px solid  #c9ac80;
    font-family: "Ubuntu";
    color:#c9ac80;
    font-size: x-large;
    height: 6vh; 
    padding: 1.5vw 1.5vh;
    margin-top: 3.5vh;
    cursor: pointer;
    animation: pulse 3.5s infinite;
       
}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 1023px) and (max-width: 2000px) {
   .choice__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}

   .choice__description{
    width: 80vw;
    font-size: large;
   }

  .choice__article{
    margin: 0vw 22vw 1.5vw 22vw;
  }

  .choice__img{
    width: 50% !important;
    height: auto;
  }

  .choice__tagLine{
    margin-left: 21vw;
  }

  .choice__registBtn{
     padding: 1.5vh !important ;
      
     
  }
  
}