.modal {
  display: none; /* скрыто по умолчанию */
  position: fixed;
  bottom: 52%;
  left: 20%;
  transform: translate(-50%, -50%);


  justify-content: center;
  animation: fadeLeft 3s ease forwards;
  overflow-x: hidden;
 
  
&__title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

&__title{
  margin: 1.5vh;
  margin-top: 0;
  font-family: "Ubuntu";
  color:#c9ac80;
  font-weight: 100;
  position: relative;
}

&__close{
  color:#c9ac80;
  position: fixed;
  bottom: 27vh;
  left: 61vw;
}


&__content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background:  rgba(0, 0, 0, 0.5);;
  padding: 1.5vh;
}

&__form{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

&__item,
textarea{
  background-color: #c9ac80;
}

&__btn{
  font-size: medium;
  font-family: "Ubuntu" ;
  color: #c9ac80;
  background-color:  #171615;
  transition: transform 0.3s ease, color 0.3s ease;
}

&__btn:active{
  cursor: pointer;
  transform: scale(0.9);
  color: #fff8ed;

}

}

@keyframes fadeLeft {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}

@media(min-width: 320px) and (max-width: 400px){
  .modal {
  display: none; /* скрыто по умолчанию */
  position: fixed;
  bottom: 40%;
  left: 15%;
  justify-content: center;
  animation: fadeLeft 3s ease forwards; 
}
 
.modal__close{
  left: 95%;
  bottom: 93%   
}

}

@media(min-width: 1024px) and (max-width: 2450px){
  .modal {
  display: none; /* скрыто по умолчанию */
  position: fixed;
  bottom: 49%;
  left: 39%;
  justify-content: center;
  animation: fadeLeft 3s ease forwards; 
}

.modal__content{
  width: 320px;
  height: auto;
}
.modal__close{
  all: unset;
  color: #c9ac80;
  cursor: pointer;
  position: relative;
  left: 8%; bottom: 35%;
 
  
}
.modal__title-wrapper{
  display: flex;
  width: 100%;
}

}

