@charset "UTF-8";
.nav {
  position: fixed;
  transition: transform 0.3s ease;
  z-index: 1000;
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.019); /* белый с прозрачностью */
  backdrop-filter: blur(10px);
  animation: fadeDown 3s ease;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__wrapper .nav__link {
  width: 50%;
  padding: 1.5vw;
}
.nav__wrapper .nav__link-item {
  color: rgba(255, 255, 255, 0.8235294118);
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.25rem);
  -webkit-tap-highlight-color: rgb(255, 228, 181);
  transition: all 0.2s ease;
}
.nav__wrapper .nav__link-item:hover {
  color: rgb(255, 228, 181);
  transition: all 0.2s ease;
}
.nav__wrapper .nav__btn-crown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  gap: 10vw;
  padding-right: 1.5vw;
}
.nav__wrapper .nav__btn {
  background-color: rgba(75, 75, 75, 0.115);
  border: 2px solid #c9ac80;
  color: #c9ac80;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  width: clamp(100px, 30vw, 150px);
  height: 3.5vh;
}
.nav__wrapper .nav__btn:active {
  background-color: #c9ac80;
  color: #000;
  transform: scale(0.95);
}

@media (min-width: 1024px) {
  .nav {
    width: 100%;
    z-index: 1000;
  }
  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__link {
    display: flex;
    justify-content: space-around;
  }
  .nav__btn-crow {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  .nav__crown {
    position: absolute;
    right: 48vw;
  }
  .nav__btn {
    position: absolute;
    right: 2.5vw;
  }
}
@media (min-width: 1024px) and (max-width: 1180px) {
  .nav__btn {
    height: 5vh;
  }
  .nav__crown {
    right: 48vw;
  }
}
@media (min-width: 748px) and (max-width: 932px) and (orientation: landscape) {
  .nav {
    width: 100%;
    z-index: 1000;
  }
  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__link {
    display: flex;
    justify-content: space-around;
  }
  .nav__btn-crow {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  .nav__crown {
    position: absolute;
    right: 48vw;
  }
  .nav__btn {
    position: absolute;
    right: 2.5vw;
    height: 5vh !important;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body, html {
  background-color: #000000;
  margin: 0;
  box-sizing: border-box;
}

.main {
  min-height: 30vh;
  background-image: url(images/background__model-title.png);
  background-repeat: no-repeat; /* чтобы картинка не повторялась */
  background-position: center; /* выравнивание по центру */
  background-size: cover;
  height: 50vh;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c9ac80;
  position: relative;
  top: 40vh;
}
.main__title {
  width: 80vw;
  height: auto;
  animation: fadeup 3s forwards;
}
.main__subtitle {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8235294118);
  animation: fadeup 3s forwards;
}

@media (min-width: 1024px) {
  .main {
    background-image: url(images/background__model-title.png);
    background-repeat: no-repeat; /* чтобы картинка не повторялась */
    background-position: top; /* выравнивание по центру */
    background-size: 572px 595px;
    min-height: 100vh;
  }
  .main__title {
    width: 701px;
    height: 200px;
    margin-top: 30vh;
  }
  .main__subtitle {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 748px) and (max-width: 932px) and (orientation: landscape) {
  .main {
    background-image: url(images/background__model-title.png);
    background-repeat: no-repeat; /* чтобы картинка не повторялась */
    background-position: top; /* выравнивание по центру */
    background-size: 572px 595px;
    min-height: 100vh;
  }
  .main__title {
    width: 701px;
    height: 200px;
    margin-top: 30vh;
  }
  .main__subtitle {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
.presentation {
  margin-top: 2.5vh;
  color: rgba(255, 255, 255, 0.8235294118);
  font-family: "Ubuntu";
  padding: 2.5vw;
}
.presentation .presentation__img {
  width: 85vw;
  height: auto;
}
.presentation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.02em;
  padding: 1.5vw;
  margin-left: 1.5vw;
}
.presentation__reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation__rev-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.5vw;
}
.presentation__number {
  font-size: clamp(50px, 10vw, 80px);
  color: #c9ac80;
  margin: 0;
}
.presentation__item {
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.presentation__revNumv-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.5vw;
  width: 100%;
}

@media (min-width: 1024px) {
  .presentation__img {
    width: 30vw !important;
    height: auto !important;
  }
  .presentation__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .presentation__rev-wrapper {
    display: flex;
    flex-direction: column;
  }
  .presentation__revNumv-wrapper {
    display: flex;
    gap: 4.5vw;
  }
}
@media (min-width: 748px) and (max-width: 932px) and (orientation: landscape) {
  .presentation__img {
    width: 50vw !important;
    height: auto !important;
  }
}
.services {
  margin-top: 45vh;
  color: aliceblue;
  padding: 3.5vw;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5vh;
}
.services__article {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.036);
  border-radius: 1vw;
  padding: 8vw;
  color: #c9ac80;
}
.services__description {
  color: rgba(255, 255, 255, 0.8235294118);
  font-family: "Ubuntu";
}
.services__btn {
  width: 80vw;
  height: 3.5vh;
  font-size: medium;
  border-color: #c9ac80;
  background-color: rgba(255, 255, 255, 0.036);
  color: #c9ac80;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.services__btn:active {
  background-color: #c9ac80;
  color: #000;
  transform: scale(0.95);
}

@media (min-width: 1024px) {
  .services {
    padding: 0;
    width: 100%;
  }
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    margin-left: 12.7vw;
    margin-right: 12.7vw;
  }
  .services__article {
    width: 25vw;
    height: auto;
    padding: 4vw;
  }
  .services__btn {
    width: 25vw;
    height: auto;
  }
}
@media (min-width: 748px) and (max-width: 932px) and (orientation: landscape) {
  .services {
    padding: 0;
    width: 100%;
  }
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
  }
  .services__article {
    width: 25vw;
    height: auto;
    padding: 4vw;
  }
  .services__btn {
    width: 25vw;
    height: auto;
  }
}
.scroll-down__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll-down__img {
  width: 50vw;
  height: auto;
}

@media (min-width: 748px) and (max-width: 932px) and (orientation: landscape) {
  .scroll-down__img {
    width: 25vw;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .scroll-down__img {
    width: 50vw;
    height: auto;
  }
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5vw;
  border: 2px solid rgba(201, 172, 128, 0.4235294118);
  border-radius: 16px;
  margin-bottom: 1vh;
}
.footer__wrapper .footer__main-link {
  font-family: "Ubuntu";
  text-decoration: none;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-size: medium;
  color: #c9ac80;
  transition: transform 0.1s ease;
}
.footer__wrapper .footer__link {
  display: flex;
  width: 35vw;
  gap: 1.5vw;
  cursor: pointer;
  transform: scale(0.95);
}
.footer__wrapper .footer__main-link:active {
  cursor: pointer;
  transform: scale(0.95);
}
.footer__wrapper .footer__icon {
  cursor: pointer;
  transition: transform 0.1s ease;
}
.footer__wrapper .footer__icon:active {
  cursor: pointer;
  transform: scale(0.5);
}

@media (min-width: 1024px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vw;
    border: 2px solid rgba(201, 172, 128, 0.4235294118);
    border-radius: 16px;
    margin-left: 130px;
    margin-right: 130px;
  }
}
.modal {
  display: none; /* скрыто по умолчанию */
  position: fixed;
  bottom: 52%;
  left: 20%;
  transform: translate(-50%, -50%);
  justify-content: center;
  animation: fadeLeft 3s ease forwards;
  overflow-x: hidden;
}
.modal__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.modal__title {
  margin: 1.5vh;
  margin-top: 0;
  font-family: "Ubuntu";
  color: #c9ac80;
  font-weight: 100;
  position: relative;
}
.modal__close {
  color: #c9ac80;
  position: fixed;
  bottom: 27vh;
  left: 61vw;
}
.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5vh;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.modal__item,
.modal textarea {
  background-color: #c9ac80;
}
.modal__btn {
  font-size: medium;
  font-family: "Ubuntu";
  color: #c9ac80;
  background-color: #171615;
  transition: transform 0.3s ease, color 0.3s ease;
}
.modal__btn:active {
  cursor: pointer;
  transform: scale(0.9);
  color: #fff8ed;
}

@keyframes fadeLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .modal {
    display: none; /* скрыто по умолчанию */
    position: fixed;
    bottom: 40%;
    left: 15%;
    justify-content: center;
    animation: fadeLeft 3s ease forwards;
  }
  .modal__close {
    left: 95%;
    bottom: 93%;
  }
}
@media (min-width: 1024px) and (max-width: 2450px) {
  .modal {
    display: none; /* скрыто по умолчанию */
    position: fixed;
    bottom: 49%;
    left: 39%;
    justify-content: center;
    animation: fadeLeft 3s ease forwards;
  }
  .modal__content {
    width: 320px;
    height: auto;
  }
  .modal__close {
    all: unset;
    color: #c9ac80;
    cursor: pointer;
    position: relative;
    left: 8%;
    bottom: 35%;
  }
  .modal__title-wrapper {
    display: flex;
    width: 100%;
  }
}
.choice {
  padding-top: 10%;
  color: rgba(255, 255, 255, 0.8235294118);
  overflow: hidden;
}
.choice .choice__img {
  width: 90%;
  height: auto;
}
.choice .choice__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
}
.choice .choice__title {
  color: #c9ac80;
  font-family: "Ubuntu";
  margin-bottom: 1vh;
}
.choice .choice__subtitle {
  color: #c9ac80;
  font-family: "Ubuntu";
  margin-bottom: 1vh;
}

.choice__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: #171615;
  margin: 0 1.5vh;
  padding: 1vh;
  margin-bottom: 1.5vh;
}

.choice__item {
  font-size: x-large;
  font-family: "Ubuntu";
  padding-left: 2.5vw;
}

.choice__tagLine {
  color: #c9ac80;
  font-family: "Ubuntu";
  margin-left: 5.5vw;
}

.choice__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
}
.choice__btn .choice__registBtn {
  background: #171615;
  border: 1.5px solid #c9ac80;
  font-family: "Ubuntu";
  color: #c9ac80;
  font-size: x-large;
  height: 6vh;
  padding: 1.5vw 1.5vh;
  margin-top: 3.5vh;
  cursor: pointer;
  animation: pulse 3.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 1023px) and (max-width: 2000px) {
  .choice__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
  }
  .choice__description {
    width: 80vw;
    font-size: large;
  }
  .choice__article {
    margin: 0vw 22vw 1.5vw 22vw;
  }
  .choice__img {
    width: 50% !important;
    height: auto;
  }
  .choice__tagLine {
    margin-left: 21vw;
  }
  .choice__registBtn {
    padding: 1.5vh !important;
  }
}
.header-reg {
  display: flex;
  justify-content: center;
}
.header-reg__img {
  width: 100%;
  height: auto;
}

.main-reg {
  font-family: "Ubuntu";
  color: #c9ac80;
}

.main-reg__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-reg__title .main-reg__subtitle {
  margin-bottom: 0;
}

.main-reg__wrapp-border {
  border: 2px solid #c9ac80;
  background-color: rgba(201, 172, 128, 0.1843137255);
  padding: 2.5vw;
  margin-left: 17.5vw;
  margin-right: 17.5vw;
  margin-bottom: 1.5vh;
}

.main-reg__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-reg__down-aricle-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-reg__down-aricle-wrapp .main-reg__name {
  margin-top: 1.5vh;
}
.main-reg__down-aricle-wrapp .main-reg__btn {
  margin-top: 1.5vh;
  width: 35vw;
  height: auto;
  font-size: large;
  font-family: "Ubuntu";
  letter-spacing: 0.08em;
  background-color: rgba(201, 172, 128, 0.1490196078);
  color: #c9ac80;
  cursor: pointer;
}

.notify {
  position: fixed;
  top: 20px;
  right: -400px; /* изначально скрыто */
  background: #4caf50; /* зелёный фон для успеха */
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease;
  z-index: 9999;
}

.notify.show {
  right: 20px; /* выезжает справа */
}

.notify.error {
  background: #f44336; /* красный фон для ошибки */
}

@media (min-width: 500px) and (max-width: 2000px) {
  .header-reg__img {
    width: 50vw;
    height: auto;
  }
  .main-reg__btn {
    width: 10vw !important;
  }
  .main-reg__wrapp-border {
    border: 2px solid #c9ac80;
    background-color: rgba(201, 172, 128, 0.1843137255);
    padding: 2.5vw;
    margin-left: 30.5vw;
    margin-right: 30.5vw;
    margin-bottom: 1.5vh;
  }
}
.aboutUs__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.aboutUs__title {
  font-family: "Ubuntu";
  font-weight: 100;
  color: rgb(254, 254, 255);
  margin: 0;
  padding-top: 17vh;
  padding-left: 4.5vw;
}

.aboutUs__span {
  margin-left: 12vw;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 26vh;
  top: 0;
  left: 0;
  z-index: 5;
}

.aboutUs__main {
  position: relative;
  background-image: url("images/backAbout.png");
  height: 26vh;
}

.article__main {
  margin: 1.5vh 2vw 1.5vh 2vw;
  padding: 0.5vh 1.5vw;
}

.article__title {
  color: rgb(254, 254, 255);
  font-family: "Ubuntu";
  font-weight: 100;
  padding: 1.8%;
  margin: 0;
}

.article__item {
  color: rgb(254, 254, 255);
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: x-large;
  padding: 1.8%;
  margin-left: 10vw;
}

@media (min-width: 385px) and (max-width: 430px) {
  .aboutUs__main {
    height: 28vh;
  }
  .aboutUs__title {
    font-family: "Ubuntu";
    font-weight: 100;
    color: rgb(254, 254, 255);
    margin: 0;
    padding-top: 19vh;
    padding-left: 4vw;
    font-size: 1.9rem;
  }
}
@media (min-width: 1024px) and (max-width: 2000px) {
  .aboutUs__conteiner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .aboutUs__span {
    margin-left: 0;
  }
  .aboutUs__title {
    padding-top: 15vh;
    padding-left: 18vw;
  }
}
#line {
  width: 85%;
  height: 2px;
  background-color: rgba(255, 183, 1, 0.299);
  border: none;
  animation: move 1s linear forwards;
}

@keyframes move {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.magicBox {
  padding-top: 5.5vh;
  overflow-x: hidden;
}

.magicBox__wrapp--realative {
  display: flex;
  position: relative;
  z-index: 10;
}

.magicBox__imgUpp {
  position: absolute;
  width: 100%;
  animation: uppLeft 15s ease forwards;
}

.magicBox__imgDown {
  position: absolute;
  width: 100%;
  animation: uppDown 15s ease forwards;
}

/*Anime скобки*/
@keyframes uppLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes uppDown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
/*Anime скобки*/
.magicBox__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 38vh;
}
.magicBox__content .magicBox__title {
  font-family: "Ubuntu";
  font-size: clamp(25px, 25vw, 50px);
  font-weight: 100;
  color: #c9ac80;
  animation: titscale 15s ease forwards;
}

/*title*/
@keyframes titscale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
/*title*/
.magicBox__subTitle-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.magicBox__subTitle-img .magicBox__img1 {
  animation: show1 ease 12s forwards;
}
.magicBox__subTitle-img .magicBox__img2 {
  animation: show2 ease 12s forwards;
}
.magicBox__subTitle-img .magicBox__img3 {
  animation: show3 ease 12s forwards;
}

@keyframes show1 {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes show2 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes show3 {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
#particles-js {
  width: 100%;
  height: 40%;
  z-index: 0;
}

.rewies {
  position: relative;
  background-color: rgba(248, 194, 112, 0.0823529412);
}

.rewies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}

.rewies__container--sticky {
  position: relative;
}

.rewies__title {
  font-size: xx-large;
  font-family: "Ubuntu";
  color: #c9ac80;
  margin-bottom: 0;
}

.rewies__subTitle {
  font-family: "Ubuntu";
  color: #c9ac80;
  font-size: x-large;
  margin: 0;
}

.rewies__img {
  position: relative;
  top: 1vh;
}

.rewies__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rewies__profile .rewies__img {
  width: 90%;
  height: auto;
}
.rewies__profile .rewies__text {
  font-family: "Ubuntu";
  color: #c9ac80;
  padding: 3.5vw;
  font-size: clamp(20px, 20vh, 30px);
}

hr {
  width: 85vw;
}

@media (min-width: 1024px) {
  .magicBox__wrapp--realative {
    width: 100%;
    height: 40vh;
  }
  .magicBox__wrapp--realative img {
    height: 69vh;
  }
  .magicBox__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 28vh;
  }
  .magicBox__title,
  .magicBox__img1,
  .magicBox__img2,
  .magicBox__img3 {
    margin-bottom: 20vh;
    margin-top: 0;
    font-size: clamp(30px, 25vw, 50px);
  }
  .rewies__profile {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .rewies__profile img {
    width: 60vw !important;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
